*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home{
  
    font-size: 18px;
    line-height: 1.1;
    
   
    
}
.coller{
    color: #828282;
    
}
.bed{
    display: flex;

    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}
.border {
    border: 1px solid #828282
}
.denis{
 
    font-size: 47px;
    line-height: 1.3;
}
.smoll{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 18px;
line-height: 1.2;


}
.car{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
line-height: 0.4;
}
.flex{
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.incon{
    
    width: 100%;
   margin: 0 auto;
    
 
}
.plok{
    margin: 0 auto;
}